@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
    --color-mm-dark: #0b1220;
    --color-mm-navy: #111a2e;
    --color-mm-lightnavy: #1b2436;
    --color-mm-primary: #30a8fc;
    --color-mm-white: #e7eef8;
    --color-mm-muted: #a4b0c4;
    --color-mm-gray: #6b768d;
    --color-mm-success: #3ec97a;
    --color-mm-error: #ff4d67;
    --color-mm-warning: #e0bc2f;
    --color-mm-neutral: #3b82f6;
    --font-sans: "Inter Variable", sans-serif;
}

/* Ručno uključivanje boja koje se dinamički generiraju */
@source inline("{text,border}-mm-{muted,success,error,warning}");

.main-container {
    @apply flex flex-col gap-4;
}

.log-reg-label {
    @apply text-mm-gray text-xl font-extrabold tracking-wide;
}

.log-reg-field {
    @apply bg-mm-navy text-mm-gray flex gap-3 items-center text-lg px-2.5 py-2 rounded-xl;
}

.input-block-v {
    @apply flex flex-col gap-4;
}

.input-block-h {
    @apply flex justify-between items-center;
}

.input-label {
    @apply text-mm-white text-xl font-semibold tracking-wide;
}

.input-field {
    @apply bg-mm-navy rounded-xl px-2.5 py-2;
    @apply text-mm-white placeholder:text-mm-gray text-lg;
}

.confirm-btn {
    @apply bg-mm-primary rounded-full py-1.5 px-10 w-fit mx-auto;
    @apply text-mm-dark disabled:bg-mm-gray font-extrabold tracking-wider;
}

.separate-and-center {
    @apply flex justify-between items-center px-1;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
}
